.frontal{
    background-image: url('https://images.pexels.com/photos/544961/pexels-photo-544961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
h1{
    color: azure;
    font-size: 100px;
}

.imprimir{
    color: blue;
    font-size: 5rem;
}
